html {
    background-image: url('C:\Users\thewi\Desktop\dCC Projects\Music-Library-Frontend\public\bg-edit-1.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

* {
    color: white;
}
header {
    min-height: 8rem;
    border: 5px solid red;
    display: flex;
    background-color: rgb(0,0,0,.75);
    align-content: center;
    align-items: center;
    padding-left: 2rem;
    font-weight: bold;
    font-size: x-large;
}

.app-body {
    display: flex;
    margin-top: 10rem;
    gap: 1rem;
}

div.add-music {
    border: 5px solid green;
    /* background: white; */
    /* display: flex; */
    margin-left: auto;
    padding: 5rem;
    background-color: rgb(0,0,0,.75);
    /* opacity: 0.6; */
    border-radius: 15px;
    flex-direction: column;
}

div.form-container {
    display: block;
}

div.search-bar {
    display: flex;
    justify-content: center;
    padding: 1rem;
    gap: 2rem;
    height: 1.75em;
}

input {
    width: 20rem;
    color: black;
}

button {
    color: black;
}

div.table-container {
    border: 5px solid blue;
    background: white;
    display: flex;
    margin-right: auto;
    padding: 1rem;
    background-color: rgb(0,0,0,.75);
    /* opacity: 0.6; */
    border-radius: 15px;
    flex-direction: column;
}

th, td {
    padding: 10px;
}

tr {
    border-bottom: 2px solid black;
}

label {
    padding-right: 2rem;
}

input {
    width: 12rem;
}
