html {
    background-image: url('C:\Users\thewi\Desktop\dCC Projects\Music-Library-Frontend\public\dan-stark-JiSNvVs3keU-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

* {
    color: white;
}
header {
    min-height: 8rem;
    border: 5px solid red;
    display: flex;
    background-color: rgb(0,0,0,.75);
    align-content: center;
    align-items: center;
    padding-left: 2rem;
    font-weight: bold;
    font-size: x-large;
}

.app-body {
    display: flex;
    margin-top: 10rem;
    gap: 1rem;
}

div.table-container {
    border: 5px solid blue;
    /* background: white; */
    display: flex;
    margin-right: auto;
    padding: 5rem;
    background-color: rgb(192,192,192);
    opacity: 0.6;
    border-radius: 15px;
}

div.search-bar {
    border: 5px solid green;
    /* background: white; */
    display: flex;
    margin-left: auto;
    padding: 5rem;
    background-color: rgb(192,192,192);
    opacity: 0.6;
    border-radius: 15px;
}

table {
    display: flex;
}



